# temp files from editors
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.tmproj
build
.idea
.vscode
nbproject/
.env

# hidden files created by Windows
Thumbs.db
desktop.ini

/app/public/core
/app/public/core/*
#/app/public/contents/*
#!/app/public/contents/themes
#/app/public/contents/themes/*
!/app/public/contents/themes/cloudpay-default

/app/vendor
/app/node_modules

!/data/mysql
#/data/mysql/*

!/logs/nginx
#/logs/nginx/*
